<h1>Order details of user_id: <%= @user.id %></h1>
<p>User email_id: <%= @user.email %> </p>
<p>User Order_id: <%= @order.id %>

<table class="table">

  <thead>
    <tr>
      <th scope="col">name</th>
      <th scope="col">price Rs.</th>
      <th scope="col">quantity</th>
      <th scope="col">Status</th>
    </tr>
  </thead>
  <tbody>
  
    <% @order.products.each do |product| %>
      <tr>
        <td><%= product.name %> <img src="<%#= url_for(product.image) %>" style="height: 130px; width: 200px;"></td>
        <td>USD $<%= product.price %></td>
        <td><%= product.quantity %></td>
        <td><%= @order.status %></td>
      </tr>
    <% end %>
    
  </tbody>
  
</table>