<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="<%= @cms.last.meta_description %>">
    <meta name="keywords" content="<%= @cms.last.meta_keywords %>">

	<meta name="">
    <title>Home | E-Shopper</title>
    <%= stylesheet_link_tag "application", media: "all" %>
    <%= stylesheet_link_tag 'bootstrap.min.css' %>
    <%= stylesheet_link_tag 'font-awesome.min.css' %>
    <%= stylesheet_link_tag 'prettyPhoto.css' %>
    <%= stylesheet_link_tag 'price-range.css' %>
    <%= stylesheet_link_tag 'animate.css' %>
    <%= stylesheet_link_tag 'main.css' %>
    <%= stylesheet_link_tag 'responsive.css' %>
    <link rel="shortcut icon" href="images/ico/favicon.ico">
    <link rel="apple-touch-icon-precomposed" sizes="144x144" href="images/ico/apple-touch-icon-144-precomposed.png">
    <link rel="apple-touch-icon-precomposed" sizes="114x114" href="images/ico/apple-touch-icon-114-precomposed.png">
    <link rel="apple-touch-icon-precomposed" sizes="72x72" href="images/ico/apple-touch-icon-72-precomposed.png">
    <link rel="apple-touch-icon-precomposed" href="images/ico/apple-touch-icon-57-precomposed.png">
</head><!--/head-->

<body>
	<div class="header_position fixx">
		<header id="header"><!--header-->
			<div class="header_top"><!--header_top-->
				<div class="container ">
					<div class="row">
						<div class="col-sm-6">
							
						</div>
						
					</div>
				</div>
			</div><!--/header_top-->
			
			<div class="header-middle"><!--header-middle-->
				<div class="container">
					<div class="row">
						<div class="col-sm-4">
							<div class="logo pull-left">
				<%= link_to  root_path do %>
						<%= image_tag("home/logo.png", alt: "like", class: "like_image_for_index") %>
				<% end %>
							</div>
							
						</div>
						<div class="col-sm-8">
							<div class="shop-menu pull-right">
								<ul class="nav navbar-nav">


										<li class="dropdown"><%= link_to "Account"%>
										<ul role="menu" class="sub-menu">
											<li  style="color:red;"><%= link_to "My order", welcome_order_path,:class=>"subaccount" %></li><br>
											<li><%= link_to "Track Order", welcome_track_path,:class=>"subaccount" %></li>
											<li><%= link_to "Edit account", welcome_myaccount_path,:class=>"subaccount" %></li>
										</ul>
										</li> 

									<li><%= link_to wishlist_index_path do %>
										<i class="fa fa-heart-o" style="font-size:22px;color:red"></i>
									<% end %></li>

									<li><%= link_to welcome_cart_path do %>
										<i class="fa fa-shopping-cart" style="font-size:22px">(<%= @cart.size %>)</i>
									<% end %></li>

									<li><%= link_to "Sign in", new_user_session_path unless user_signed_in? %></li>
									<li><%= link_to "Sign up", new_user_registration_path unless user_signed_in? %></li>
									<li><%= link_to "Sign out", destroy_user_session_path, data: { turbo_method: :delete } if user_signed_in?  %></li> 
								</ul>
							</div>
						</div>
					</div>
				</div>
			</div><!--/header-middle-->
		
			<div class="header-bottom"><!--header-bottom-->
				<div class="container">
					<div class="row">
						<div class="col-sm-9">
							<div class="navbar-header">
								<button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
									<span class="sr-only">Toggle navigation</span>
									
							</div>
							<div class="mainmenu pull-left">
								<ul class="nav navbar-nav collapse navbar-collapse">
							<% if user_signed_in?%>
								<li><%= link_to "Home", home_index_path %></li>
								<li><%= link_to "Products", products_show_path %></li>
								<li><%= link_to "Contact", contact_index_path %></li>
								</ul>
							<% end %>  
							</div>
						</div>
						
					</div>
				</div>
			</div><!--/header-bottom-->
		</header><!--/header-->
	</div>	
