
	<section id="cart_items">
		<div class="container">
			<div class="breadcrumbs">
				<ol class="breadcrumb">
				  <li><a href="index.html">Home</a></li>
				  <li class="active">Shopping Cart</li>
				</ol>
			</div>
			<div class="table-responsive cart_info">
      
				<table class="table table-condensed">

					<thead>
						<tr class="cart_menu">
							<td class="image">Item</td>
							<td class="description"></td>
							<td class="price">Price</td>
							<td class="quantity">Quantity</td>
							<td class="total">Total</td>
							<td></td>
						</tr>
					</thead>
          <% @cart.each do |product| %>
            <tbody>
              <tr>
                <td class="cart_product">
                  <% if product.image.attached? %>
                    <img src="<%= url_for(product.image) %>">
                    <% end %>
                    <h3><%= product.name %></h3>
                </td>
                <td class="cart_description">
                  <p>Description: <%= product.short_description %></p>
                  <%# <p>SKU NO.</p> %>
                <p>SKU no. : <%= product.sku %></p>
                </td>
                <td class="cart_price">
                  <p>US$ <%= product.price %></p>
                </td>
                <td class="cart_quantity">
                  <div class="cart_quantity_button">
                    <%= button_to '+', add_quantity_path(product),id: :"inc" , method: :post, remote: true, data: { 'turbo-method' => :post } %>                  
                      <%= product.quantity%>
                    <%= button_to '-', dec_quantity_path(product), method: :post, remote: true, data: { 'turbo-method' => :post } %>
                  </div>
                </td>
                <td class="cart_total">
                   <p>US$ <%= (product.price) * (product.quantity) %></p>
                </td>
                <td class="cart_delete">
					      <%= button_to "X", remove_from_cart_path(product), method: :delete %>
                  <%# <a class="cart_quantity_delete" href=""><i class="fa fa-times"></i></a> %>
                </td>
              </tr>
            </tbody>
          <% end %>
				</table> 
			</div>
		</div>
	</section> <!--/#cart_items-->

	<section id="do_action">
		<div class="container">
			<div class="heading">
				<h3>What would you like to do next?</h3>
				<p>Choose if you have a discount code or reward points you want to use or would like to estimate your delivery cost.</p>
			</div>
			<div class="row">
				<div class="col-sm-6">
					<div class="chose_area">
						<ul class="user_option">
							<li>
								<%# <input type="checkbox">      
								<label>Use Coupon Code</label> %>
                <%= form_with model: @coupon, url: welcome_cart_path,  local: true,data: { turbo: false } do |form| %>
	            <ul class="user_option">
	            <li>
		          <div class="mb-3">
                <%= form.label :coupon_code %>
                <%= form.text_field :coupon_code, class: "form-control" , placeholder: "enter coupon code" %>
		          </div>
							</li>
							<li>
                <div class="mb-3">
                  <%= form.submit "Apply", class: "btn btn-primary" %>
                </div>
                <% if @f_value.present? %>
                  <% flash.each do |type,msg| %>
                    <div class="msg">
                      <%= msg %>
                    </div>
                  <% end %>
                <% end %>  
                     
							</li>
						</ul>
						<% end %>
							</li>
							
						</ul>
						<ul class="user_info">
							<li class="single_field">
								<label>Country:</label>
								<select>
									<option>United States</option>
									<option>Bangladesh</option>
									<option>UK</option>
									<option>India</option>
									<option>Pakistan</option>
									<option>Ucrane</option>
									<option>Canada</option>
									<option>Dubai</option>
								</select>
								
							</li>
							<li class="single_field">
								<label>Region / State:</label>
								<select>
									<option>Select</option>
									<option>Dhaka</option>
									<option>London</option>
									<option>Dillih</option>
									<option>Lahore</option>
									<option>Alaska</option>
									<option>Canada</option>
									<option>Dubai</option>
								</select>
							
							</li>
							<li class="single_field zip-field">
								<label>Zip Code:</label>
								<input type="text">
							</li>
						</ul>
						<a class="btn btn-default update" href="">Get Quotes</a>
						<a class="btn btn-default check_out" href="">Continue</a>
					</div>
				</div>
				<div class="col-sm-6">
					<div class="total_area">
						<ul>
							<li>Cart Sub Total <span><%= @value %></span><span>US$<span></li>
				
							<% if  @shipping_cost.present? %>
								<li>Shipping Cost <span><%= @shipping_cost %></span></li>
							<%end%>

							

							<% if @f_value.present? %>
								<li>Total <span><%= @f_value %></span><span>US$<span>
							<% end %>
						</ul>
							<a class="btn btn-default update" href="">Update</a>
							<li><a href="checkout.html"><i class="fa fa-shopping-cart"></i> Checkout</a></li>
					</div>
				</div>
			</div>
		</div>
	</section><!--/#do_action-->

	<footer id="footer"><!--Footer-->
		<%= render partial: "devise/shared/footer"%>		
	</footer><!--/Footer-->
	


  <%= javascript_include_tag('jquery.js') %>
	<%= javascript_include_tag('bootstrap.min.js') %>
	<%= javascript_include_tag('jquery.scrollUp.min.js') %>
	<%= javascript_include_tag('price-range.js') %>
	<%= javascript_include_tag('jquery.prettyPhoto.js') %>
	<%= javascript_include_tag('main.js') %>
</body>
</html>

  