<section id="cart_items">
	<div class="container">
		<div class="breadcrumbs">
		  <ol class="breadcrumb">
		    <li><a href="#">Home</a></li>
		    <li class="active">Check out</li>
		  </ol>
		</div><!--/breadcrums-->
		<%# displaying user address %>
		<div class="container" > 
      <% if @address.present? %>
        <h3 style="color:red"> Delivery address </h3>
        <p>Address1: <%= @address.address_1 %></p>
        <p>Contact no.: <%= @address.mobile_no %></p>
        <p>State: <%= @address.state %></p>
        <p>City: <%= @address.city%>
        <p>Country: <%= @address.country %></p>
        <p>Zipcode: <%= @address.pincode %></p>
         <%= radio_button_tag(:address,@address,false) %>
      <% else %>
        <div></div> 
      <%end%>
       
		</div>

		<div class="register-req">
		  <p>Please use Register And Checkout to easily get access to your order history, or use Checkout as Guest</p>
		</div><!--/register-req-->

		<%# form %>
		<h3><b style="color:red" >Add new delivery address</b></h3>
		<div class="form-one">
      <input type="submit" name="Change" value="Add Address" onclick = "document.getElementById('my_id').style.display = 'block';">
        <div id="my_id", style="display:none">
          <%= form_with model: @address, url: welcome_create_path, method: :post, local: true do |form| %><br>
            <div class="field">
            <%# binding.pry %>
  
            
          
            <%= form.label :first_Name%>
            <%= form.text_field :fname ,type: "text",title: "only letters are allowed", pattern: "[A-Za-z]{1,32}", required: true%><br>
            <%= form.label :Last_Name %>
            <%= form.text_field :lname ,type: "text",title: "only letters are allowed", pattern: "[A-Za-z]{1,32}",required: true %><br>
            <%= form.label :address_1 %>
            <%= form.text_field :address_1 ,required: true%><br>
            <%= form.label :email_id %>
            <%= form.email_field :email,required: true , style: "margin-left:29px"%><br>
            <%= form.label :pincode %>
            <%= form.number_field :pincode ,required: true, style: "margin-left:13px",pattern: "[0-9]{6}", type: "text", title: "should be 6 of digits"  %><br>
            <%= form.label :country %>
            <%= form.select :country, options_for_select( [['India','India'],['Australia','Australia']])%><br>
            <%= form.label :city %>
            <%= form.select :city, options_for_select( [['Kalyan','kalyan'],['Dombivali','Dombivali']])%><br>
            <%= form.label :state %>
            <%= form.select :state, options_for_select( [['MAHARASHTRA','MAHARASHTRA'],['Bihar','Bihar'],['DELHI','DELHI'],['Uttar pradesh','Uttar pradesh']])%>
            <%= form.label :mobile_no %>
            <%= form.number_field :mobile_no , type: "text",pattern: "[1-9]{1}[0-9]{9}",title: "mobile no should be of 10 digits",  required: true%>
            <div class="actions">
              <%= form.submit id: "l"%>
            </div>
		      <% end %>
		    </div>
		</div>

		<div class="review-payment">
		  <h2>Review & Payment</h2>
		</div>
		<span>
		  <h4>Pay with Stripe<%= button_to "Stripe Pay", welcome_stripe_path, method: :get %></h4>
		</span>
		<span>
		  <h4>Pay on COD<%= button_to "COD", welcome_cod_path, method: :get %>
		</span>
	</div> 
</section> <!--/#cart_items-->

