	
<div class="container-fluid fix">
  <div class="row">
    <div class="col-md-4" style="margin-bottom: 88px;">
      <%= image_tag("shop/cont.jpeg", alt: "contact us") %>
    </div>
    
    <div class="col-md-3">
			<%= form_with model: @contact, url: welcome_contact_us_path,method: :post, data: {turbo: false} do |form| %>
        <% if form.object.errors.any? %>
          <div class="alert alert-danger">
            <% form.object.errors.full_messages.each do |msg| %>
              <div><%= msg %></div>
            <% end %>
          </div>
        <% end %>


        <div class="field">
					<%= form.text_field :name, class:"form-control",placeholder:"Name", value: ""%><br>
          <%= form.text_field :email, class:"form-control",placeholder:"Email" %><br>
			    <%= form.number_field :contact_no, class:"form-control",placeholder:"Contact Number", pattern: "[1-9]{1}[0-9]{9}" %><br>
          <%= form.text_area :message, class:"form-control",placeholder:"Write msg to admin" %>
					
					<div class="btn btn-primary">
    			<%= form.submit "send" %>
  				</div>
        </div><br><br>
			<% end %>
    </div>  
    <div class="col-md-4">
      <div class="title text-center">
      <% if @cont.present? %>
        <b style="color:red;">Reply from admin to you: <i><%= @cont.note_admin %> </b></i>
      <%end %>
      </div>  
    </div>
  </div>
</div>
