	
<div class="container-fluid">
  <div class="row">
    <div class="col-md-4" style="margin-bottom: 88px;">
      <%= image_tag("shop/cont.jpeg", alt: "contact us") %>
    </div>
    
    <div class="col-md-2">
			<%= form_with model: @contact, url: welcome_contact_path,method: :post, data: {turbo: false} do |form| %>
      <%# <% binding.pry %>
        <%# if form.object.errors.any? %>
          <div class="alert alert-danger">
            <% form.object.errors.full_messages_for(:name).each do |msg| %>
            <div><%= msg %></div>
            <%#end %>
          </div>
        <% end %>
        <div class="field">
    			<%= form.label :name %><br>
					<%= form.text_field :name %><br>
					<%= form.label :email %><br>
					<%= form.email_field :email %><br>
					<%= form.label :contact_no %><br>
					<%= form.text_field :contact_no %><br>
					<%= form.label :message_to_admin %><br>
					<%= form.text_field :message %><br>
					<div class="btn btn-primary">
    			<%= form.submit "send" %>
  				</div>
        </div><br><br>
			<% end %>
    </div>  
    <div class="col-md-4">
      <div class="title text-center">
        
          <%# <li>Name:= @cont.name</li> %>
          <%# <li>Email:= @cont.email</li> %>
          <%# <li>Contact_no:= @cont.contact_no</li> %>
          <%# <li>Message:= @cont.message</li> %>
          <b>Reply from admin to you: <%= @cont.note_admin %> </b>
      
      </div>  
    </div>
  </div>
</div>
