<div class="updateprofile">
 <%= form_with model: @users, url: profile_update_path,method: :post, local: true do |form| %>
  <% if user_signed_in? %>
    <% user = current_user %>
    <li><b>First Name</b><%= form.text_field :first_name, required: true, class: 'form-control', value:user.first_name %></li>
    <li><b>Last Name</b><%= form.text_field :last_name, required: true, class: 'form-control', value:user.last_name %></li>
    <li><b>Mobile no.</b><%= form.text_field :mobile_number, required: true, class: 'form-control', value:user.mobile_number %></li>
    <li><b>Email</b><%= form.text_field :email, required: true, class: 'form-control', value:user.email %></li>
    <% end %><br>
    <div class="actions">
      <%= form.submit value = "UPDATE" %>
    </div>
	<%end%>
</div>

<div>
  <button><%= link_to "Change password", edit_user_registration_path %></button>
</div>
<div>
  <button><%= link_to "Track order", welcome_track_path %></button>
</div>
<div>
  <button><%= link_to "My order ", welcome_order_path %></button>
</div>

