<div class="container fix">
  <%if @orders.present? %>

    <section id="cart_items">
        <div class="table-responsive cart_info">
          <table class="table table-condensed">
            <thead>
              <tr class="cart_menu">
                <td class="image">Product image</td>
                <td class="description">Product name</td>
                <td class="price">Price</td>
                <td class="price">Quantity</td>
                <td class="price">Order id</td>
              </tr>
            </thead>
            <%# @cart.each do |product| %>
            <% @orders.each do |order| %>
              <% order.products.each do |product| %>
                <% od = OrderDetail.all%>
                <% order_d = od.find_by(user_order_id: order.id)%>
                <tbody>
                  <tr>
                    <td class="cart_product">
                      <img src="<%= url_for(product.image) %>"style="height: 80px; width: 70px;">
                    </td>
                    <td class="cart_description">
                    <b><%= product.name %><b>
                    </td>
                    <td class="cart_price">
                    <b>USD $<%= product.price %><b>
                    </td>
                    <td class="cart_price">
                    <b><%= order_d.quantity %></b>
                    </td>
                    <td class="cart_price">
                      <b>ID: <%= order.id %></b>
                    </td>
                  </tr>
                </tbody>
              <% end %>
            <% end %>  
          </table> 
        </div>
        <% else %>
          <div style="padding-left: 23%;">
            <%= image_tag("home/empty_cart1.png", alt: "", class: "girl img-responsive") %>
          </div>
      <% end %>
    </div>
	</section> <!--/#cart_items-->


