	
	<section class= "fix">
		<div class="container">
			<div class="row">
				<div class="col-sm-3">
					<div class="left-sidebar">
						<h2>Category</h2>
						<% @category.each do |category| %>
						<% subcatagories = category.subcategories%>
						<div class="panel-group category-products" id="accordian" style="margin-top: 30px;"><!--category-productsr-->
							<div class="panel panel-default">
								<div class="panel-heading">
									<h6 class="panel-title">
										<a data-toggle="collapse" data-parent="#accordian" href="#<%= category.id%>">
											<span class="badge pull-right"><i class="fa fa-down"></i></span>
											<h2><%= category.name %></h2>
										</a>
									</h6>
								</div>
							</div>
							<div id="<%= category.id%>" class="panel-collapse collapse">
								<div class="panel-body">
									<% subcatagories.each do |subcat| %>
									<i style="margin-left: 58px;"><%= link_to subcat.name, product_details_path(subcat) %></i>
									<%# <a href=""><%= subcat.subcat_name %>
									<% end %>
								</div>
							</div>
					
						</div><!--/category-products-->	
						<%end%>			
					</div>
				</div>
				
				<div class="col-sm-9 padding-right">
					<div class="features_items"><!--features_items-->
						<h2 class="title text-center">Products</h2>
						<% @feature_products.each do |product| %>
						<div class="col-sm-4">
							<div class="product-image-wrapper">
								<div class="single-products">
										<div class="productinfo text-center">
											<% if product.image.attached? %>
												<img src="<%= url_for(product.image) %> "style="height: 180px; width: 200px;" >
											<% end %>
											<h2>USD $<%= product.price %></h2>
											<p><%= product.name %></p>
											<p><%= product.short_description %></p>
											<p><%= product.long_description %></p>
											<div style="display:flex;">
											
											<div style="margin-left: 32px">
												<%= button_to add_to_cart_path(product) do %>
													<i class="fa fa-shopping-cart" style="font-size:25px"></i>
												<% end %>
											</div>	
											
											<div style="margin-left: 98px;">
												<%= button_to wishlist_index_path(id: product) do %>
													<i class="fa fa-heart-o" style="font-size:25px;color:red"></i>
												<% end %>
											</div>			
											</div>             
										</div>
								</div>
							</div>
						</div>
						<%end%>
					</div><!--features_items-->
				</div>
				</div>
			</div>
		</div>
	</section>
	
	
</body>
</html>