<!DOCTYPE html>
<html>
  <head>
    <title>App</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
    <%= javascript_importmap_tags %>
    <script src="https://js.stripe.com/v3/"></script>
  </head>

  <body>
    <%= render partial: "devise/shared/header"%>
    <% if notice.present? %>
      <p class="alert alert-success" style="padding-top: 185px;"><%= notice %></p>
    <% end %>
    <% if alert.present? %>
      <p class="alert alert-danger" style="padding-top: 185px;"><%= alert %></p>
    <% end %>
    <%= yield %>
    <footer id="footer"><!--Footer-->
		 <%= render partial: "devise/shared/footer"%>
    </footer><!--/Footer-->
    <%= javascript_include_tag('jquery.js') %>
    <%= javascript_include_tag('bootstrap.min.js') %>
    <%= javascript_include_tag('jquery.scrollUp.min.js') %>
    <%= javascript_include_tag('price-range.js') %>
    <%= javascript_include_tag('jquery.prettyPhoto.js') %>
    <%= javascript_include_tag('main.js') %>
    </body>
</html>
